<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857119826752-jd3eol1qv6r3c7gja8tf52d0pa24b8pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857119826752-jd3eol1qv6r3c7gja8tf52d0pa24b8pi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857119826752-rh1jnldr1mkgmj4nfjcl5s94tdefqqeh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiWYwh4KSc1OCyZsxui_LBZh1Uaas2274</string>
	<key>GCM_SENDER_ID</key>
	<string>857119826752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>udemy-project-7d12d</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-project-7d12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857119826752:ios:2309731978232fefd950a5</string>
</dict>
</plist>